*{
	padding: 0;
	margin: 0;
	font-family: 'Nunito', sans-serif;
}
html{
	scroll-behavior: smooth;
}
header{
	background-image: url(moss_rocks.JPG);
	background-attachment: fixed ;
	background-size: cover;
	padding: 50px 50px 300px 50px;
	
}
hr{
	border-radius: 50px;
}
header h1{
	font-size: 70px;
	margin: 0px 300px;
	margin-bottom: 100px;
	padding: 60px 0px;
	text-align: center;
	background: #e6e6e6;
	opacity: 0.7;
}
#body-area{
	margin: 0px;
	padding: 50px 50px 10px 50px;
	display: flex;
	flex-direction: column;
	background: #f2f2f2;
}
#area1{
	display: flex;
	flex-direction: row;
	margin-top: -300px;
	background: #f2f2f2;
	padding: 30px;
}
#left-side{
	display: flex;
	flex-direction: column;
	padding-top: 40px;
}
#left-side h1{
	text-align: center;
}
#top-Line{
	margin: 10px 20px 50px 20px;
	padding: 1px;

}
#left-side p{
	margin: 0px 0px 10px 30px;
	width: 200px: 
	font-size: 26px;
	line-height: 30px;
}
#left-side:hover > #top-Line{
	margin-left: 0px;
	background: #ffa64d;
	transform: scale(0.5);
	border: none;
	padding: 10px;
	transition: 0.55s ease-in-out;
}
#right-side{
	display: flex;
	flex-direction: column;
	margin-left: 120px;
}
#area1 img{
	margin-bottom: 6px;
	min-height: 1px;
}
#big_line-img{

}
#learn-area{
	margin: 0px;
	padding: 100px;

}
#learn-area:hover > #line{
	margin-left: 0px;
	background: #ffa64d;
	transform: scale(0.86);
	border: none;
	padding: 5px;
	transition: 0.55s ease-in-out;
}
#learn-area h1{
	text-align: center;
	margin-bottom: 20px;
}
#box-area{
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
}
.box{
	border: 1.3px #333333 solid;
	width: 350px;
	height: 200px;
	margin: 50px 30px 50px 30px;
}
#gears-area{
	display: flex;
	flex-direction: row;

}
.box h1{
	vertical-align: middle;
	padding: 80px 20px;
}
.box:hover{
	transform: scale(1.05);
	transition: 0.4s;
	box-shadow: 2px 2px 10px #888888;
	cursor: pointer;
	background: #f2f2f2;

}
#p-info{
	font-size: 23px;
	display: flex;
	flex-direction: row;
	margin: 20px 180px;
}
#p-info p{
	padding: 10px 80px;
	width: 500px;
}
#p-info img{
	width: 400px;
	height: 300px;
}
#area2{
	display: flex;
	flex-direction: row;
	margin:50px -50px 50px -50px;
	
}
#area2-right{
	padding: 160px 80px 40px 80px;
	background: #e6e6e6;
}
#area2-right h1{
	margin-bottom:50px;
	font-size: 50px;
}
#area2 p{
	width: 200px: 
	font-size: 26px;
	line-height: 30px;
}
#area2 img{
	padding: 0px 0px 0px 0px;
	background: #d9d9d9;
	padding: 40px;
}
#b-Line{
	padding: 5px;
	margin: 40px 70px;
}
#map-area{
	display: flex;
	flex-direction: column;
}
#map-area h1{
	text-align: center;
}
#m-line{
	margin: 30px;
	padding: 1px;
}
#main-map-area{
	display: flex;
	flex-direction: row;
	padding: 20px 50px;
}
#map-info{
	display: flex;
	flex-direction: column;
}
#main-map-area img{
	padding-right: 85px;
}
#main-map-area p{
	margin: 20px;
	line-height: 30px;
}
#map-area:hover > #m-line{
	margin-left: 0px;
	background: #ffa64d;
	transform: scale(0.5);
	border: none;
	padding: 10px;
	transition: 0.55s ease-in-out;
}
#images{
	margin: 30px 20px 60px 20px;
}
#images img{
	padding: 0px 30px;
}
#images img:hover{
	transform: scale(1.1);
	transition: 0.4s;
	opacity: 0.8;
}
#p-alone{
	background: white;
	margin: 0px -50px;
	display: flex;
	flex-direction: column;
}
#p-alone p{
	padding: 50px 300px;
	line-height: 50px;
	font-size: 26px;
	text-align: justify;

}
#to-top-area{
	background: white;
	margin: -50px;
	padding: 80px;
}
#to-top a{
	text-decoration: none;
}
#to-top p{
	margin: 0px 650px;
	font-size: 20px;
	border: black 2px solid;
	text-align: center;
	text-decoration: underline;
	padding: 30px 0px;
	color: black;
}
#to-top p:hover{
	background: black;
	color: white;
	transition: 0.4s;
}
footer{
	display: flex;
	flex-direction: column;
	background-image: url(./nicebg.png);
	margin-top: -15px;
	padding-top: 30px;
}
#quote{
	display: flex;
	flex-direction: row;
}
#quote p{
	font-size: 40px;
	padding: 80px 80px 10px 80px;

}
#copyright{
	color: black;
	padding: 30px 90px;
}
#copyright:hover{
	text-decoration: underline;
	cursor: pointer;
}